*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.logIn{
    width:100vw;
    height:100vh;
    background-image: url('/src/Images/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}